.nav-content{
    padding: 25px 225px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid blue;
    

    @media @mobile{
        display:block;
        padding: 10px 0px 10px;
        text-align: center;
        justify-content: space-between;
      }
}

a{
    text-decoration: none;
    font-size: 1.4rem;
}

header{
    padding: 100px 225px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;

    @media @mobile{
        display:block;
        padding: 10px 0px 10px;
        text-align: center;
      }
}

.top-content{
    padding: 100px 225px 100px;
    display: flex;
    border: 1px solid greenyellow;
    
    @media @mobile{
        display:block;
        padding: 10px 0px 0px;
        text-align: center;
      }
}
.top-one{
    border:1px solid black;
}

.bottom-content{
    padding: 100px 225px 100px;
    display: flex;
    border: 1px solid orange;

    @media @mobile{
        display:block;
        padding: 10px 0px 0px;
        text-align: center;
      }
}

footer{
    text-align: center;
    font-size: 2rem;

    @media @mobile{
        display:block;
        padding: 10px 0px 0px;
        text-align: center;
      }
}