.nav-content{
    padding: 25px 25px 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:  #E5E7E1;
    border: .5px solid rgba(247, 200, 207, 0.342);
    
    
    
    @media @mobile{
        display:block;
        padding: 10px 0px 10px;
        text-align: center;
        justify-content: space-between;
      }
    
    @media @tablet{
        display:block;
        padding: 10px 0px 10px;
        text-align: center;
        justify-content: space-between;
    }
}

.nav-content a{
    text-decoration: none;
    font-size: 1.7rem;
    color: black;
}

header{
    padding: 10px 225px 10px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: #E5E7E1;
    border: 1px solid black;

    @media @mobile{
        border: none;
      }

    @media @tablet{
        display:block;
        padding: 10px 0px 10px;
        text-align: center;
    }
}


.top-content{
    padding: 250px 225px 250px;
    display: flex;
    @media (min-width: 1025px){  
    background-image: url("https://images.unsplash.com/photo-1562259920-47afc3030ba2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: 100%;
    }
    
    @media @mobile{
        display:block;
        padding: 0px 0px 0px;
        text-align: center;
        background-image: none;
      }

    @media @tablet{
        display:block;
        text-align: center;
        @media (min-width: 501px){
            padding: 100px 170px 100px;
            background-image: url("https://images.unsplash.com/photo-1521590832167-7bcbfaa6381f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");     
            background-size: 100%;
        }
        
    }
}

.top-one{
    background: #FFF7EF ;
    margin-left: 550px;
    margin-right: -150px;
    text-align: center;
    border: .5px solid lightpink;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;

    @media @mobile{
        margin: 0px 0px 0px 0px !important;
        border: none;
    }

    @media @tablet{
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 65px;
        margin-top: -50px;
    }
}

.bottom-content{
    background: #E5E7E1;
}
.bottom-content h2, p{
    text-align: center;
}

.first-grid{
    padding: 50px 15px 50px;
    display: flex;
    justify-content: space-between;
    
    @media @mobile{
        display:flex;
        flex-direction: column;
        padding: 10px 0px 0px;
        text-align: center;
      }

    @media @tablet{
        display:flex;
        padding: 30px 50px 30px 50px;
        text-align: center;
    }
}


.first-grid button{
    margin-left:50px;
    background:  #FFC3CE;
    border: .5px solid black;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;

    @media @mobile{
        margin-left: 15px;
        margin-right: 15px;
        align-self: auto;
    }

    @media @tablet{
        margin-left: 10px;
        margin-right: 10px;
        align-self: auto;
    }
}

.second-grid{
    padding: 50px 15px 50px;
    display: flex;
    justify-content: space-between;

    @media @mobile{
        display:flex;
        flex-direction: column;
        padding: 10px 0px 0px;
        text-align: center;
      }

    @media @tablet{
        display:flex;
        padding: 30px 50px 30px 50px;
        text-align: center;
    }
}

.second-grid button{
    margin-left:50px;
    background:  #FFC3CE;
    border: .5px solid black;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;

    @media @mobile{
        margin-left: 15px;
        margin-right: 15px;
        align-self: auto;
    }

    @media @tablet{
        margin-left: 10px;
        margin-right: 10px;
        align-self: auto;
    }
}

.third-grid{
    padding: 50px 15px 50px;
    display: flex;
    justify-content: space-between;

    @media @mobile{
        display:flex;
        flex-direction: column;
        padding: 10px 0px 0px;
        text-align: center;
      }

    @media @tablet{
        display:flex;
        padding: 30px 50px 30px 50px;
        text-align: center;
        justify-content: space-between;
    }
}

.third-grid button{
    margin-left:50px;
    background:  #FFC3CE;
    border: .5px solid black;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;

    @media @mobile{
        margin-left: 15px;
        margin-right: 15px;
        align-self: auto;
    }

    @media @tablet{
        margin-left: 10px;
        margin-right: 10px;
        align-self: auto;
    }
}

.stylists{
    padding-bottom: 5px;
    border: 1px solid black;
    background:   #FFF7EF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    cursor: pointer;
}
.stylists:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

footer{
    padding: 10px 225px 10px;
    text-align: center;
    font-size: 2rem;
    background: #FFF7EF;
    border: 1px solid black;

    @media @mobile{
        display:block;
        padding: 10px 0px 0px;
        text-align: center;
      }

    @media @tablet{
        display:block;
        padding: 10px 0px 10px;
        text-align: center;
        justify-content: space-between;
    }
}
footer a{
    text-decoration: none;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 10px;
    font-size: 1.4rem;

    @media @mobile{
        display:block;
        padding: 10px 0px 10px;
        text-align: center;
        justify-content: space-between;
    }

    @media @tablet{
        display:block;
        padding: 10px 0px 10px;
        text-align: center;
        justify-content: space-between;
    }

}