.nav-content{
    padding: 25px 225px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media @mobile{
        display:block;
        padding: 10px 0px 0px;
        text-align: center;
      }
}